<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Board</title>
  <link rel="stylesheet" href="/static/css/dashboard.css" th:href="@{/css/dashboard.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
</head>
<body>

<div>
  <div class="logout">
    <a href="/user/page" th:href="@{/user/profile}" th:text="${username}"></a>
    <a href="/logout" th:href="@{/logout}">Logout</a>
  </div>
</div>

<h1>
  <a th:href="@{/workspaces/workspace/{wsId}(wsId=${workspaceId})}" class="back-link">Back to Workspace</a>
</h1>

<div class="title">
  <h1>Task Board <span th:text="${boardTitle}"></span></h1>
</div>

<div class="board" th:attr="data-board-id=${boardId}" id="boardContainer">
  <div class="column" data-column-type="planned">
    <h2>Planned</h2>
    <div class="card" th:each="task : ${plannedTasks}" th:attr="data-card-id=${task.getId()}">
      <h3 th:text="${task.title}">Task 1</h3>
      <p th:text="${task.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <span class="user" th:text="${task.assignedUser.nickname}">John Doe</span>
      <p></p>
      <button class="add-button" th:attr="onclick=|deleteCard('${task.getId()}')|">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <div class="add-card">
      <button class="add-button" onclick="openModal('planned')">
        <span class="material-icons">add</span>
      </button>
    </div>
  </div>

  <div class="column" data-column-type="inProgress">
    <h2>In Progress</h2>
    <div class="card" th:each="task : ${inProgressTasks}" th:attr="data-card-id=${task.getId()}">
      <h3 th:text="${task.title}">Task 3</h3>
      <p th:text="${task.description}">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <span class="user" th:text="${task.assignedUser.nickname}">John Doe</span>
      <p></p>
      <button class="add-button" th:attr="onclick=|deleteCard('${task.getId()}')|">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <div class="add-card">
      <button class="add-button" onclick="openModal('inProgress')">
        <span class="material-icons">add</span>
      </button>
    </div>
  </div>

  <div class="column" data-column-type="someProblems">
    <h2>Some Problems</h2>
    <div class="card" th:each="task : ${problemTasks}" th:attr="data-card-id=${task.getId()}">
      <h3 th:text="${task.title}" th:attr="data-card-id=${task.getId()}">Task 4</h3>
      <p th:text="${task.description}">Maecenas faucibus mollis interdum.</p>
      <span class="user" th:text="${task.assignedUser.nickname}">Jane Smith</span>
      <p></p>
      <button class="add-button" th:attr="onclick=|deleteCard('${task.getId()}')|">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <div class="add-card">
      <button class="add-button" onclick="openModal('problem')">
        <span class="material-icons">add</span>
      </button>
    </div>
  </div>

  <div class="column" data-column-type="done">
    <h2>Done</h2>
    <div class="card" th:each="task : ${doneTasks}" th:attr="data-card-id=${task.getId()}">
      <h3 th:text="${task.title}">Task 6</h3>
      <p th:text="${task.description}">Donec id elit non mi porta gravida at eget metus.</p>
      <span class="user" th:text="${task.assignedUser.nickname}">Jane Doe</span>
      <p></p>
      <button class="add-button" th:attr="onclick=|deleteCard('${task.getId()}')|">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <div class="add-card">
      <button class="add-button" onclick="openModal('done')">
        <span class="material-icons">add</span>
      </button>
    </div>
  </div>
</div>

<div class="participants">
  <h2>Board Owner:</h2>
  <span th:text="${owner}">Unchpokable</span>

  <p></p>
  <h2>Participants:</h2>

  <span th:each="user : ${members}" th:attr="data-member-id=${user.getId()}" th:text="${user.nickname}">John Doe</span>

  <div class="add-user">
    <input type="text" id="inviteNickname" placeholder="Enter user name here" required/>
    <button type="submit" onclick="addUserToBoard()">Add user</button>
  </div>
</div>

<!-- Modal for Add Card -->
<div id="addCardModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="addCardForm" method="post" action="/cards/add">
      <h2>Add Card</h2>
      <input type="hidden" id="columnId" name="columnId" value="">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
      <label for="user">User:</label>
      <input type="text" id="user" name="user" required>
      <input type="date" id="deadline" name="dueDate" placeholder="Due Date" required>
      <select id="categorySelect" name="category" required>
        <option value="Planned">Planned</option>
        <option value="In Progress">In Progress</option>
        <option value="Some Problems">Some Problems</option>
        <option value="Done">Done</option>
      </select>
      <button type="submit">Add Card</button>
    </form>
  </div>
</div>

<script src="/static/js/cards.js" th:src="@{/js/cards.js}"></script>
</body>
</html>
