<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boards</title>
  <link rel="stylesheet" href="/static/css/workspacepage.css">
</head>
<body>
<div class="logout">
  <span><span th:text="${username}"></span></span>
  <a href="/logout" class="logout">Logout</a>
</div>

<div class="workspace_container">
  <h1>My Boards at workspace <span th:text="{parentWorkspaceName}"></span></h1>
  <span> You have <span th:text="${workspaceBoardsCount}"></span> owned boards here:</span>
  <ul>
    <li th:each="board : ${ownedBoards}">
      <a href="#" th:text="${board.getTitle()}" th:attr="data-board-id=${board.getId()}"></a>
    </li>
  </ul>

  <span>You are a participant at boards:</span>
  <ul>
    <li th:each="board : ${sharedBoards}">
      <a href="#" th:text="${board.getTitle()}" th:attr="data-board-id=${board.getId()}"></a>
    </li>
  </ul>
</div>

<script src="/static/js/board.js">
</script>
</body>
</html>
