<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Workspaces</title>
    <link type="text/css" href="/static/css/workspacepage.css" rel="stylesheet" th:href="@{/css/workspacepage.css}">
</head>
<body>
<div>
    <div class="logout">
        <a href="/user/page" th:href="@{/user/profile}" th:text="${username}"></a>
        <a href="/logout" th:href = "@{/logout}">Logout</a>
    </div>

    <div class="workspace_container">
        <h1>My Workspaces</h1>
        <span> You have an <span th:text="${workspaceBoardsCount}"></span> owned workspaces:</span>
        <p></p>
        <div class="dashboards">
            <div th:each="workspace : ${workspaces}" th:attr="data-workspace-id=${workspace.getId()}" class="workspace">
                <span th:text="${workspace.getName()}"></span>
                <button class="delete-button">Delete</button>
            </div>
        </div>
    </div>

    <div class="create_workspace">
        <h2>Create New Workspace</h2>
        <form id="createWorkspaceForm">
            <input type="text" id="boardName" placeholder="Enter workspace name" required>
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<script src="/static/js/workspace.js" th:src="@{/js/workspace.js}">
</script>
</body>
</html>
